.show--detail--main--container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: relative;
	/* overflow: hidden; */
}

.show--detail--main--container--image {
	position: relative;
	height: 410px;
	width: 414px;
	padding: 0 3rem;
}

.show--detail--main--container--image > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.show--detail--main--container--image--previuos {
	position: absolute;
	left: 3rem;
	top: -30px;
}

.show--detail--main--container--data {
	padding: 0 10px;
	max-width: 500px;
}

.show--detail--main--container--data--title {
	/* font-family: Mulish; */
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	padding: 8px 0;
}

.show--detail--main--container--data--description {
	padding: 8px 0;
	/* font-family: Mulish; */
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: justified;
}

.show--detail--main--container--data--share {
	margin: 10px 0;
}

.show--detail--main--container--episodes {
	overflow: auto;
}

.show--detail--main--container--episodes::-webkit-scrollbar {
	width: 0px;
	height: 4px;
	background: transparent;
}

.show--detail--main--container--episodes::-webkit-scrollbar-thumb {
	border-radius: 2px;
	height: 10px;
	box-shadow: inset 0 0 3px transparent;
}

.show--detail--main--container--episodes:hover::-webkit-scrollbar {
	background: transparent;
}

@media (max-width: 850px) {
	.show--detail--main--container {
		flex-direction: column;
	}

	.show--detail--main--container--image {
		width: 100%;
		height: 450px;
		padding: 0 !important;
	}

	.show--detail--main--container--episodes {
		/* height: calc(100% - 350px); */
		/* overflow: auto !important; */
	}
}
